/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpunit.cache
/vendor
/node_modules
/public/node_modules
/public/build
/public/hot
/public/storage
/storage/app/private/livewire-tmp/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/storage/*.key
/storage/pail
/database/*.sqlite*
.env
.env.*
auth.json
.phpunit.result.cache
.phpactor.json
.DS_Store
Thumbs.db
*.log
Homestead.json
Homestead.yaml
